# üìù Assignment 4

## Introductory Exercises in Python

‚è≥ Estimated Duration: 1 Hour  
üéØ Due: Friday, 28 March at 11:59pm

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/BevRice/CMI_Course/blob/main/docs/source/notebooks/Assignment4_Week3.ipynb)

### üîπ Getting Started with Google Colab

For this lesson, we will be using **Google Colab**, a free, cloud-based Jupyter Notebook environment that allows us to write and execute Python code **without needing to install anything** on our own computers.  

üîπ **Why Google Colab?**  
‚úî **No Installation Required** ‚Äì Runs in your web browser, no need to install Python, libraries, or Jupyter Notebook.  
‚úî **Pre-Installed Libraries** ‚Äì Most of the common data analysis libraries (`NumPy`, `pandas`, `matplotlib`, `seaborn`, `statsmodels`) are already included.  
‚úî **Cloud-Based & Auto-Saving** ‚Äì Your work is stored in Google Drive, so you can access it from anywhere.  
‚úî **Free GPU Access** ‚Äì Useful for advanced machine learning, though not necessary for this course.  

üîπ **How to Open Google Colab**  
1Ô∏è‚É£ **Go to** [colab.research.google.com](https://colab.research.google.com/)  
2Ô∏è‚É£ **Sign in** with your Google account  
3Ô∏è‚É£ **Click** Open in Colab above

---

üíª **What If I Want to Run Python Locally?**  
If you‚Äôre interested in running Python on your own computer instead of using Google Colab, you can install **Anaconda**, which includes Python and Jupyter Notebook.  

üîπ **Anaconda Benefits:**  
- Comes with everything you need for data analysis.  
- Lets you work offline and manage different project environments.  
- Supports additional tools like R and Julia if you‚Äôre interested in expanding your coding skills.  

If you'd like guidance on **installing and setting up Anaconda**, I'm happy to walk through it with you during **office hours**! üòä

## Python Basics

Lets practice the basics covered in Lesson 6 before we apply what we've learned to MDM data  which we'll do in Lesson 7 and Assignment 5.

---

### üìå Exercise 1: Working with Variables
1. Create three variables: category, age, and engagement_rate
2. Assign a string, integer, and float to the variables respectively
3. Print each of the variables
4. Check and print the data types of each variable

In [1]:
category = "Technology"
age = 25
engagement_rate = 0.75

In [2]:
print("Category:", category)
print("Age:", age)
print("Engagement Rate:", engagement_rate)

Category: Technology
Age: 25
Engagement Rate: 0.75

In [5]:
# prompt: # Print the data types of your variables
# # Enter code here

category = "Technology"
age = 25
engagement_rate = 0.75

print("Category:", category)
print("Age:", age)
print("Engagement Rate:", engagement_rate)

print("Data type of category:", type(category))
print("Data type of age:", type(age))
print("Data type of engagement_rate:", type(engagement_rate))

Category: Technology
Age: 25
Engagement Rate: 0.75
Data type of category: <class 'str'>
Data type of age: <class 'int'>
Data type of engagement_rate: <class 'float'>

---

### üìå Exercise 2: Working with Variables
1. Change the value stored in category to a complex data type
2. Print the variable
3. Check and print the new data type of category

In [8]:
# Changing category to a complex data type
category = 3 + 4j  # Complex number with real part 3 and imaginary part 4

# Printing the variable
print("Category:", category)

# Checking and printing the new data type
print("New data type of category:", type(category))

Category: (3+4j)
New data type of category: <class 'complex'>

In [9]:
# Changing category to a complex data type
category = 5 + 2j  # Example complex number with real part 5 and imaginary part 2

# Printing the variable
print("Category:", category)

# Checking and printing the new data type
print("New data type of category:", type(category))

Category: (5+2j)
New data type of category: <class 'complex'>

In [10]:
print("Category:", category)

Category: (5+2j)

In [11]:
print("Data type of category:", type(category))

Data type of category: <class 'complex'>

---

In [ ]:
# Run this cell
rickroll = """Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you"""

print(rickroll)

### Question 1: Is what was printed above structured or unstructured data?

unstructured data

---

### üìå Exercise 3: Importing libraries
1. Import the pandas and numpy libraries
2. Check the version of each library by running the following:
    - print(pd.__version__)
    - print(np.__version__)

In [12]:
# Importing pandas and numpy
import pandas as pd
import numpy as np

# Checking the version of each library
print("Pandas version:", pd.__version__)
print("NumPy version:", np.__version__)

Pandas version: 2.2.2
NumPy version: 2.0.2

In [13]:
import pandas as pd

# Checking the pandas version
print("Pandas version:", pd.__version__)

Pandas version: 2.2.2

In [14]:
import numpy as np

# Checking the NumPy version
print("NumPy version:", np.__version__)

NumPy version: 2.0.2

---

### üìå Exercise 4: Basic numpy
- 1. Create a numpy array with 5 integers and call it ages -> ages = np.array([33,45,18...])
- 2. Create a numpy array with 5 floats and call it engagement_rate
- 3. Create a numpy array with 5 strings and call it users
- 4. Print all 3 arrays

In [15]:
import numpy as np

# Creating NumPy arrays
ages = np.array([33, 45, 18, 27, 50])  # Array of integers
engagement_rate = np.array([0.75, 0.82, 0.60, 0.90, 0.68])  # Array of floats
users = np.array(["Alice", "Bob", "Charlie", "David", "Eve"])  # Array of strings

# Printing all arrays
print("Ages:", ages)
print("Engagement Rate:", engagement_rate)
print("Users:", users)

Ages: [33 45 18 27 50]
Engagement Rate: [0.75 0.82 0.6  0.9  0.68]
Users: ['Alice' 'Bob' 'Charlie' 'David' 'Eve']

In [16]:
import numpy as np

# Creating a NumPy array with 5 float values for engagement rates
engagement_rate = np.array([0.75, 0.82, 0.60, 0.90, 0.68])

# Printing the array
print("Engagement Rate:", engagement_rate)

Engagement Rate: [0.75 0.82 0.6  0.9  0.68]

In [17]:
import numpy as np

# Creating a NumPy array with 5 string values for users
users = np.array(["Alice", "Bob", "Charlie", "David", "Eve"])

# Printing the array
print("Users:", users)

Users: ['Alice' 'Bob' 'Charlie' 'David' 'Eve']

In [18]:
import numpy as np

# Creating NumPy arrays
ages = np.array([33, 45, 18, 27, 50])  # Array of integers
engagement_rate = np.array([0.75, 0.82, 0.60, 0.90, 0.68])  # Array of floats
users = np.array(["Alice", "Bob", "Charlie", "David", "Eve"])  # Array of strings

# Printing all arrays
print("Ages:", ages)
print("Engagement Rate:", engagement_rate)
print("Users:", users)

Ages: [33 45 18 27 50]
Engagement Rate: [0.75 0.82 0.6  0.9  0.68]
Users: ['Alice' 'Bob' 'Charlie' 'David' 'Eve']

- 5. Get the third value of your users array -> users[2]
- 6. Calculate sum of your ages array -> np.sum(ages)
- 7. Calculate mean of your engagement_rate array -> np.mean(engagement_rate)

In [19]:
# Getting the 3rd value (index 2) of the users array
third_user = users[2]

# Printing the result
print("Third user:", third_user)

Third user: Charlie

In [20]:
import numpy as np

# Creating the ages array
ages = np.array([33, 45, 18, 27, 50])

# Calculating the sum
total_age = np.sum(ages)

# Printing the result
print("Sum of ages:", total_age)

Sum of ages: 173

In [21]:
import numpy as np

# Creating the engagement_rate array
engagement_rate = np.array([0.75, 0.82, 0.60, 0.90, 0.68])

# Calculating the mean
mean_engagement = np.mean(engagement_rate)

# Printing the result
print("Mean of engagement_rate:", mean_engagement)

Mean of engagement_rate: 0.75

- 8. Change the first value of your users array to your first name -> users[0] = your name here
- 9. Change the last value of ages to 50

In [22]:
import numpy as np

# Creating the users array
users = np.array(["Alice", "Bob", "Charlie", "David", "Eve"])

# Changing the first value to your name
users[0] = "Jessica"  # Replace "Jessica" with your name

# Printing the updated array
print("Updated users array:", users)

Updated users array: ['Jessica' 'Bob' 'Charlie' 'David' 'Eve']

In [23]:
import numpy as np

# Creating the ages array
ages = np.array([33, 45, 18, 27, 40])  # Example initial values

# Changing the last value to 50
ages[-1] = 50  # -1 refers to the last index

# Printing the updated array
print("Updated ages array:", ages)

Updated ages array: [33 45 18 27 50]

---
### üìå Exercise 5: Basic pandas

In [ ]:
# Create a DataFrame of your numpy arrays by running this code; remove all triple quotes first

'''
df = pd.DataFrame({
    "Name": users,
    "Age": ages,
    "Engagement": engagement_rates
})

print(df)

'''

'\ndf = pd.DataFrame({\n    "Name": users,\n    "Age": ages,\n    "Engagement": engagement_rates\n})\n\nprint(df)\n\n'

### Question 2: Is what was printed above structured or unstructured data?

structured data

1Ô∏è‚É£ Compute Summary Statistics using pandas
- 1. Use pandas to calculate the mean of df['Age'] by running -> df['Age'].mean()  
- 2. Calculate the mean of engagement_rates in the dataset  
- 3. Calculate the median of engagement_rates in the dataset  
- 4. Calculate the mode of the engagement_rates in the dataset (this returns a series)  
- 5. Extract the first mode by running -> df['Engagement'].mode()[0]

In [26]:
# Creating a DataFrame
df = pd.DataFrame({
    "Name": users,
    "Age": ages,
    "Engagement": engagement_rate
})

In [27]:
first_mode = df['Engagement'].mode()[0]
print("First Mode Engagement Rate:", first_mode)

First Mode Engagement Rate: 0.6

In [28]:
# Creating a sample Followers array
followers = np.array([1000, 1500, 1000, 2000, 2500])  # Example data with a repeated value

# Adding the Followers column to the DataFrame
df["Followers"] = followers

# Getting the first mode of Followers
first_mode_followers = df['Followers'].mode()[0]

# Printing the result
print("First Mode of Followers:", first_mode_followers)

First Mode of Followers: 1000

### üìå Exercise 6: Lists and Loops
- 1. Create a list of 10 media types
- 2. Print your list
- 3. Print each media individually using a loop
          for media in your_list_name:
             print(media)

In [29]:
# Creating a list of media types
media_types = ["Newspaper", "Magazine", "Radio", "Television", "Podcast",
               "Social Media", "Blog", "Website", "Video Streaming", "E-Books"]

# Printing the list
print("Media Types List:", media_types)

Media Types List: ['Newspaper', 'Magazine', 'Radio', 'Television', 'Podcast', 'Social Media', 'Blog', 'Website', 'Video Streaming', 'E-Books']

In [30]:
# Printing the list of media types
print("Media Types List:", media_types)

Media Types List: ['Newspaper', 'Magazine', 'Radio', 'Television', 'Podcast', 'Social Media', 'Blog', 'Website', 'Video Streaming', 'E-Books']

In [31]:
# Printing each media type individually using a loop
print("Individual Media Types:")
for media in media_types:
    print(media)

Individual Media Types:
Newspaper
Magazine
Radio
Television
Podcast
Social Media
Blog
Website
Video Streaming
E-Books

In [ ]:
# Print each of the user names in your dataframe
# by replacing your_list_name with the pandas
# column -> df['Name']
# replace "media" with term of your choice

# Enter code here

Once complete, please submit by saving your ipynb file to the [Assignment 4 Student Submissions Folder](https://github.com/BevRice/CMI_Course/tree/main/Student_Submissions/Assignment_4)

From Google Colab
- 1. Click File
- 2. Click Download
- 3. Select Download .ipynb
- 4. Upload to the folder by 11:59pm, Fri 28 Mar

Grading Criteria (10 Points Total)

- ‚úÖ Code Completeness (5 pts) ‚Üí Attempts all coding exercises
- ‚úÖ Code Accuracy (3 pts) -> No errors in executions
- ‚úÖ Interpretation of Results (2 pts) ‚Üí Thoughtful answers to questions 1-2

[Provide Anonymous Feedback on this Assignment Here](https://forms.gle/4ZRmNr5rmGCAR1Re6)