Exercise 1: Working with Variables
Create three variables: category, age, and engagement_rate

Assign a string, integer, and float to the variables respectively

Print each of the variables

Check and print the data types of each variable

In [55]:
# Create the variables
category = "Domain"     # String
age = 28                # Integer
engagement_rate = 2.0   # Float

In [56]:
# Print your variables
print("Category:", category)
print("Age:", age)
print("Engagement Rate:", engagement_rate)

Category: Domain
Age: 28
Engagement Rate: 2.0

In [57]:
# Print the data types of your variables
print("Data type of category:", type(category))
print("Data type of age:", type(age))
print("Data type of engagement_rate:", type(engagement_rate))

Data type of category: <class 'str'>
Data type of age: <class 'int'>
Data type of engagement_rate: <class 'float'>

Exercise 2: Working with Variables

Change the value stored in category to a complex data type

Print the variable

Check and print the new data type of category

In [58]:
# Change the value stored in category to a complex data type
category = 10 + 7j     # Complex number

In [59]:
# Print your variable
print("Category:", category)

Category: (10+7j)

In [60]:
# Print your the data type of your variable
print("Data type of category:", type(category))

Data type of category: <class 'complex'>

In [61]:
# Run this cell
rickroll = """Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you"""

print(rickroll)

Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you

Question 1: Is what was printed above structured or unstructured data?

Structured string of text with a clear and consistent format.

Exercise 3: Importing libraries
Import the pandas and numpy libraries

Check the version of each library by running the following:

print(pd.__version__)

print(np.__version__)

In [62]:
# Import pandas and numpy
import pandas as pd
import numpy as np

In [63]:
# Check pandas version
print(pd.__version__)

2.2.2

In [64]:
# Check numpy version
print(np.__version__)

2.0.2

Exercise 4: Basic numpy
Create a numpy array with 5 integers and call it ages -> ages = np.array([33,45,18…])

Create a numpy array with 5 floats and call it engagement_rate

Create a numpy array with 5 strings and call it users

Print all 3 arrays

In [65]:
# Create ages
ages = np.array([33,45,18,29,40])

In [66]:
# Create engagement_rate
engagement_rate=np.array([5.6,7.2,8.3,4.5,6.1])

In [67]:
# Create users
users=np.array(["Alice","Bob","Charlie", "David","Eve"])

In [68]:
# Print arrays
print("Ages:", ages)
print("Engagement Rates:",engagement_rate)
print("Users:", users)

Ages: [33 45 18 29 40]
Engagement Rates: [5.6 7.2 8.3 4.5 6.1]
Users: ['Alice' 'Bob' 'Charlie' 'David' 'Eve']

Get the third value of your users array -> users[2]

Calculate sum of your ages array -> np.sum(ages)

Calculate mean of your engagement_rate array -> np.mean(engagement_rate)

In [69]:
# Get 3rd value of users array
# Numpy starts at 0 so the third value would be #2
print(users[2])

Charlie

In [70]:
# Calculate the sum of your ages array
sum_ages=np.sum(ages)
print("Sum of ages array:", sum_ages)

Sum of ages array: 165

In [71]:
# Calculate the mean of your engagement_array array
mean_engagement_rate=np.mean(engagement_rate)
print("Mean of engagement_rate array:", mean_engagement_rate)

Mean of engagement_rate array: 6.340000000000001

Change the first value of your users array to your first name -> users[0] = your name here

Change the last value of ages to 50

In [72]:
# Change the first value of users to your name
users[0]="Claudia"
print("Updated users array:", users)

Updated users array: ['Claudia' 'Bob' 'Charlie' 'David' 'Eve']

In [73]:
# Change the last value of ages to 50
ages[-1]=50
print("Updated ages array:", ages)

Updated ages array: [33 45 18 29 50]

Exercise 5: Basic pandas

In [74]:
# Create a DataFrame of your numpy arrays by running this code; remove all triple quotes first

df = pd.DataFrame({
    "Name": users,
    "Age": ages,
    "Engagement": engagement_rate
})

print(df)

      Name  Age  Engagement
0  Claudia   33         5.6
1      Bob   45         7.2
2  Charlie   18         8.3
3    David   29         4.5
4      Eve   50         6.1

Question 2: Is what was printed above structured or unstructured data?

Structured, because it is organized with rows and columns that could be utilized in a relational database.

1️⃣ Compute Summary Statistics using pandas

Use pandas to calculate the mean of df[‘Age’] by running -> df[‘Age’].mean()

Calculate the mean of engagement_rates in the dataset

Calculate the median of engagement_rates in the dataset

Calculate the mode of the engagement_rates in the dataset (this returns a series)

Extract the first mode by running -> df[‘Engagement’].mode()[0]

In [75]:
# Get the mean (average) of Age
mean_age = df['Age'].mean()
print("Mean of Age:", mean_age)

Mean of Age: 35.0

In [76]:
# Get the mean of Engagement
median_engagement = df['Engagement'].median()
print("Median of Engagement:", median_engagement)

Median of Engagement: 6.1

In [77]:
# Get the median of Engagement
mode_engagement = df['Engagement'].mode()
print("Mode of Engagement:", mode_engagement)

Mode of Engagement: 0    4.5
1    5.6
2    6.1
3    7.2
4    8.3
Name: Engagement, dtype: float64

In [78]:
# Get the mode of Engagement (may return multiple values)
first_mode_engagement = df['Engagement'].mode()[0]
print("First Mode of Engagement:", first_mode_engagement)

First Mode of Engagement: 4.5

In [79]:
# Get the mode first of Followers
df["Engagement"].mode()[0]

np.float64(4.5)

Exercise 6: Lists and Loops
Create a list of 10 media types

Print your list

Print each media individually using a loop for media in your_list_name: print(media)

In [80]:
# Create list of media types
media_types = ["Television", "Radio", "Newspapers", "Magazines", "Websites", "Podcasts", "YouTube", "Social Media", "Billboards", "Streaming"]

In [81]:
# Print your list of media types
print("List of Media Types:", media_types)

List of Media Types: ['Television', 'Radio', 'Newspapers', 'Magazines', 'Websites', 'Podcasts', 'YouTube', 'Social Media', 'Billboards', 'Streaming']

In [82]:
# Print each media type individually
for media in media_types:
    print(media)

Television
Radio
Newspapers
Magazines
Websites
Podcasts
YouTube
Social Media
Billboards
Streaming

In [83]:
# Print each of the user names in your dataframe
# by replacing your_list_name with the pandas
# column -> df['Name']
# replace "media" with term of your choice

for user in df['Name']:
    print(user)

Claudia
Bob
Charlie
David
Eve