# üìù Assignment 4

## Introductory Exercises in Python

‚è≥ Estimated Duration: 1 Hour  
üéØ Due: Friday, 28 March at 11:59pm

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/BevRice/CMI_Course/blob/main/docs/source/notebooks/Assignment4_Week3.ipynb)

### üîπ Getting Started with Google Colab

For this lesson, we will be using **Google Colab**, a free, cloud-based Jupyter Notebook environment that allows us to write and execute Python code **without needing to install anything** on our own computers.  

üîπ **Why Google Colab?**  
‚úî **No Installation Required** ‚Äì Runs in your web browser, no need to install Python, libraries, or Jupyter Notebook.  
‚úî **Pre-Installed Libraries** ‚Äì Most of the common data analysis libraries (`NumPy`, `pandas`, `matplotlib`, `seaborn`, `statsmodels`) are already included.  
‚úî **Cloud-Based & Auto-Saving** ‚Äì Your work is stored in Google Drive, so you can access it from anywhere.  
‚úî **Free GPU Access** ‚Äì Useful for advanced machine learning, though not necessary for this course.  

üîπ **How to Open Google Colab**  
1Ô∏è‚É£ **Go to** [colab.research.google.com](https://colab.research.google.com/)  
2Ô∏è‚É£ **Sign in** with your Google account  
3Ô∏è‚É£ **Click** Open in Colab above

---

üíª **What If I Want to Run Python Locally?**  
If you‚Äôre interested in running Python on your own computer instead of using Google Colab, you can install **Anaconda**, which includes Python and Jupyter Notebook.  

üîπ **Anaconda Benefits:**  
- Comes with everything you need for data analysis.  
- Lets you work offline and manage different project environments.  
- Supports additional tools like R and Julia if you‚Äôre interested in expanding your coding skills.  

If you'd like guidance on **installing and setting up Anaconda**, I'm happy to walk through it with you during **office hours**! üòä

## Python Basics

Lets practice the basics covered in Lesson 6 before we apply what we've learned to MDM data  which we'll do in Lesson 7 and Assignment 5.

---

### üìå Exercise 1: Working with Variables
1. Create three variables: category, age, and engagement_rate
2. Assign a string, integer, and float to the variables respectively
3. Print each of the variables
4. Check and print the data types of each variable

In [5]:
# Create the variables
category= "Technology"
age = 30
engagement_rate = 0.5

In [8]:
print("category:", category)
print("age:", age)
print("engagement_rate:", engagement_rate)

category: Technology
age: 30
engagement_rate: 0.5

In [9]:
# Print the data types of your variables
print(type(category))
print(type(age))
print(type(engagement_rate))

<class 'str'>
<class 'int'>
<class 'float'>

---

### üìå Exercise 2: Working with Variables
1. Change the value stored in category to a complex data type
2. Print the variable
3. Check and print the new data type of category

In [10]:
# Change the value stored in category to a complex data type
category = ["Software", "Hardware", "Cloud Services", "AI"]

In [11]:
# Print your variable
print("New value of category:", category)

New value of category: ['Software', 'Hardware', 'Cloud Services', 'AI']

In [12]:
# Print your the data type of your variable
print(type(category))

<class 'list'>

---

In [13]:
# Run this cell
rickroll = """Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you"""

print(rickroll)

Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you

### Question 1: Is what was printed above structured or unstructured data?

Double click and enter answer here

---

### üìå Exercise 3: Importing libraries
1. Import the pandas and numpy libraries
2. Check the version of each library by running the following:
    - print(pd.__version__)
    - print(np.__version__)

In [14]:
# Import pandas and numpy
import pandas as pd
import numpy as np

In [15]:
# Check pandas version
print(pd.__version__)

2.2.2

In [18]:
# Check numpy version
print(np.__version__)

2.0.2

---

### üìå Exercise 4: Basic numpy
- 1. Create a numpy array with 5 integers and call it ages -> ages = np.array([33,45,18...])
- 2. Create a numpy array with 5 floats and call it engagement_rate
- 3. Create a numpy array with 5 strings and call it users
- 4. Print all 3 arrays

In [109]:
# Create ages
ages = np.array([33, 45, 18, 25, 60])

In [77]:
# Create engagement_rate
engagement_rate = np.array([0.5, 0.7, 0.3, 0.9, 0.1])

In [92]:
# Create users
users = np.array(["John", "Jane", "Bob", "Alice", "Tom"])

In [139]:
# Restore the print function
# This line resets the variable print back to its original function
print = __builtins__.print

# Now your print statements should work
print("Ages array:", ages)
print("Engagement Rate array:", engagement_rate)
print("Users array:", users)

Ages array: [33 45 18 25 60]
Engagement Rate array: [0.5 0.7 0.3 0.9 0.1]
Users array: ['John' 'Jane' 'Bob' 'Alice' 'Tom']

- 5. Get the third value of your users array -> users[2]
- 6. Calculate sum of your ages array -> np.sum(ages)
- 7. Calculate mean of your engagement_rate array -> np.mean(engagement_rate)

In [140]:
# Get 3rd value of users array
# Numpy starts at 0 so the third value would be #2
third_value = users[2]
print("Third user:", third_user)

Third user: Bob

In [141]:
# Calculate the sum of your ages array
ages_sum = np.sum(ages)
print("Sum of ages:", ages_sum)

Sum of ages: 181

In [142]:
# Calculate the mean of your engagement_array array
engagement_rate_mean = np.mean(engagement_rate)
print("mean of engagement_rate:", engagement_rate_mean)

mean of engagement_rate: 0.5

- 8. Change the first value of your users array to your first name -> users[0] = your name here
- 9. Change the last value of ages to 50

In [90]:
# Change the first value of users to your name
users[0] = "Kevin"

In [91]:
# Change the last value of ages to 50
ages[-1] = 50

---
### üìå Exercise 5: Basic pandas

In [165]:
# Create a DataFrame of your numpy arrays by running this code; remove all triple quotes first


df = pd.DataFrame({
    "Name": users,
    "Age": ages,
    "Engagement": engagement_rates
})

print(df)

    Name  Age  Engagement
0   John   33         0.5
1   Jane   45         0.7
2    Bob   18         0.3
3  Alice   25         0.9
4    Tom   60         0.1

### Question 2: Is what was printed above structured or unstructured data?

It is structured data because it is categorized and devided into rows and columns.

1Ô∏è‚É£ Compute Summary Statistics using pandas
- 1. Use pandas to calculate the mean of df['Age'] by running -> df['Age'].mean()  
- 2. Calculate the mean of engagement_rates in the dataset  
- 3. Calculate the median of engagement_rates in the dataset  
- 4. Calculate the mode of the engagement_rates in the dataset (this returns a series)  
- 5. Extract the first mode by running -> df['Engagement'].mode()[0]

In [166]:
import pandas as np

mean_age = df['Age'].mean()
print(f"Mean age: {mean_age}")

Mean age: 36.2

In [173]:
# Get the mean (average) of Age
users = np.array(["John", "Jane", "Bob", "Alice", "Tom"])
ages = np.array([33, 45, 18, 25, 60])
engagement_rates = np.array([0.5, 0.7, 0.3, 0.9, 0.1])

In [176]:
# Get the mean of Engagement
mean_engagement = df['Engagement'].mean() # Changed 'EngagementRate' to 'Engagement'

In [177]:
# Get the median of Engagement
first_mode_engagement = df['Engagement'].mode()[0]
print("First mode of engagement:", first_mode_engagement)

First mode of engagement: 0.1

In [178]:
# Get the mode of Engagement (may return multiple values)
mode_engagement = df['Engagement'].mode()
print("Mode of engagement:", mode_engagement)

Mode of engagement: 0    0.1
1    0.3
2    0.5
3    0.7
4    0.9
Name: Engagement, dtype: float64

In [191]:
# Get the mode first of Followers
first_engagement_mode = df['Engagement'].mode()[0]
print(f"First Mode of Engagement: {first_engagement_mode}")

First Mode of Engagement: 0.1

### üìå Exercise 6: Lists and Loops
- 1. Create a list of 10 media types
- 2. Print your list
- 3. Print each media individually using a loop
          for media in your_list_name:
             print(media)

In [192]:
# Create list of media types
media_types = ["Image", "Video", "Audio", "Text", "GIF", "Article", "Podcast", "Infographic"]

In [193]:
# Print your list of media types
print = __builtins__.print

# Now your print statements should work
print("Media Types:", media_types)

Media Types: ['Image', 'Video', 'Audio', 'Text', 'GIF', 'Article', 'Podcast', 'Infographic']

In [194]:
# Print each media type individually
print("Individual Media Types:")
for media in media_types:
    print(media)

Individual Media Types:
Image
Video
Audio
Text
GIF
Article
Podcast
Infographic

In [199]:
# Print each of the user names in your dataframe
# by replacing your_list_name with the pandas
# column -> df['Name']
# replace "media" with term of your choice

print("--- Printing User IDs ---")
for user in df['Name']:
    print(user)
user_identifier = user
print(f"User ID: {user_identifier}")

--- Printing User IDs ---
John
Jane
Bob
Alice
Tom
User ID: Tom

Once complete, please submit by saving your ipynb file to the [Assignment 4 Student Submissions Folder](https://github.com/BevRice/CMI_Course/tree/main/Student_Submissions/Assignment_4)

In order to do so you will need to complete the following ([screenshots found here](https://github.com/BevRice/CMI_Course/blob/main/Student_Submissions/Submitting%20ipynb.pdf)):

1. Accept the invitation to be a contributer to the repository.  You should have received an email at the address linked to your github account.  You can also accept the invitation by logging into github, clicking the notifications icon, and viewing the invitation from there.

2. From Google Colab
    - a. Click File
    - b. Click Download
    - c. Select Download .ipynb

3. Go to the submissions folder and click "Add File" then "Upload File"

4. Drag and drop the file into github or click on "choose your files"; please make sure the file name has your first or last name in it otherwise it may overwrite another's assignment

5. Add a comment under "Commit changes" where it says "Add file via upload"; this comment can be "Student X Assignment Y Submission"; then click Commit changes

Please upload to the folder by 11:59pm, Fri 28 Mar

If you can't finish the assignment in a single session, you can save the file locally and reopen the file in Google Colab by going to File -> Upload Notebook -> Upload -> Browse -> Select your file

Grading Criteria (10 Points Total)

- ‚úÖ Code Completeness (5 pts) ‚Üí Attempts all coding exercises
- ‚úÖ Code Accuracy (3 pts) -> No errors in executions
- ‚úÖ Interpretation of Results (2 pts) ‚Üí Thoughtful answers to questions 1-2

[Provide Anonymous Feedback on this Assignment Here](https://forms.gle/4ZRmNr5rmGCAR1Re6)