# üìù Assignment 4

## Introductory Exercises in Python

‚è≥ Estimated Duration: 1 Hour  
üéØ Due: Friday, 28 March at 11:59pm

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/BevRice/CMI_Course/blob/main/docs/source/notebooks/Assignment4_Week3.ipynb)

### üîπ Getting Started with Google Colab

For this lesson, we will be using **Google Colab**, a free, cloud-based Jupyter Notebook environment that allows us to write and execute Python code **without needing to install anything** on our own computers.  

üîπ **Why Google Colab?**  
‚úî **No Installation Required** ‚Äì Runs in your web browser, no need to install Python, libraries, or Jupyter Notebook.  
‚úî **Pre-Installed Libraries** ‚Äì Most of the common data analysis libraries (`NumPy`, `pandas`, `matplotlib`, `seaborn`, `statsmodels`) are already included.  
‚úî **Cloud-Based & Auto-Saving** ‚Äì Your work is stored in Google Drive, so you can access it from anywhere.  
‚úî **Free GPU Access** ‚Äì Useful for advanced machine learning, though not necessary for this course.  

üîπ **How to Open Google Colab**  
1Ô∏è‚É£ **Go to** [colab.research.google.com](https://colab.research.google.com/)  
2Ô∏è‚É£ **Sign in** with your Google account  
3Ô∏è‚É£ **Click** Open in Colab above

---

üíª **What If I Want to Run Python Locally?**  
If you‚Äôre interested in running Python on your own computer instead of using Google Colab, you can install **Anaconda**, which includes Python and Jupyter Notebook.  

üîπ **Anaconda Benefits:**  
- Comes with everything you need for data analysis.  
- Lets you work offline and manage different project environments.  
- Supports additional tools like R and Julia if you‚Äôre interested in expanding your coding skills.  

If you'd like guidance on **installing and setting up Anaconda**, I'm happy to walk through it with you during **office hours**! üòä

## Python Basics

Lets practice the basics covered in Lesson 6 before we apply what we've learned to MDM data  which we'll do in Lesson 7 and Assignment 5.

---

### üìå Exercise 1: Working with Variables
1. Create three variables: category, age, and engagement_rate
2. Assign a string, integer, and float to the variables respectively
3. Print each of the variables
4. Check and print the data types of each variable

In [4]:
# Create the variables
category = "Misinformation"
age = 22
engagement_rate = 0.85

In [5]:
# Print your variables
print("Category:", category)
print("Age:", age)
print("Engagement Rate:", engagement_rate)

Category: Misinformation
Age: 22
Engagement Rate: 0.85

In [6]:
# Print the data types of your variables
print("Type of category:", type(category))
print("Type of age:", type(age))
print("Type of engagement_rate:", type(engagement_rate))

Type of category: <class 'str'>
Type of age: <class 'int'>
Type of engagement_rate: <class 'float'>

---

### üìå Exercise 2: Working with Variables
1. Change the value stored in category to a complex data type
2. Print the variable
3. Check and print the new data type of category

In [7]:
# Change the value stored in category to a complex data type
category = 3 + 4j

In [8]:
# Print your variable
print("Category:", category)

Category: (3+4j)

In [9]:
# Print your the data type of your variable
print("Type of category:", type(category))

Type of category: <class 'complex'>

---

In [10]:
# Run this cell
rickroll = """Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you"""

print(rickroll)

Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you

### Question 1: Is what was printed above structured or unstructured data?

Since the output of the code follows a multi-line string with a consistent line breaks, the data printed above is a structured data.

---

### üìå Exercise 3: Importing libraries
1. Import the pandas and numpy libraries
2. Check the version of each library by running the following:
    - print(pd.__version__)
    - print(np.__version__)

In [11]:
# Import pandas and numpy
import pandas as pd
import numpy as np

In [12]:
# Check pandas version
print(pd.__version__)

2.2.2

In [13]:
# Check numpy version
print(np.__version__)

2.0.2

---

### üìå Exercise 4: Basic numpy
- 1. Create a numpy array with 5 integers and call it ages -> ages = np.array([33,45,18...])
- 2. Create a numpy array with 5 floats and call it engagement_rate
- 3. Create a numpy array with 5 strings and call it users
- 4. Print all 3 arrays

In [14]:
# Create ages
ages = np.array([33, 45, 18, 27, 50])

In [15]:
# Create engagement_rate
engagement_rate = np.array([0.85, 0.67, 0.92, 0.75, 0.88])

In [16]:
# Create users
users = np.array(["Fatiat", "Kaylah", "Ayo", "Grace", "Natasha"])

In [17]:
# Print arrays
print("Ages:", ages)
print("Engagement Rate:", engagement_rate)
print("Users:", users)

Ages: [33 45 18 27 50]
Engagement Rate: [0.85 0.67 0.92 0.75 0.88]
Users: ['Fatiat' 'Kaylah' 'Ayo' 'Grace' 'Natasha']

- 5. Get the third value of your users array -> users[2]
- 6. Calculate sum of your ages array -> np.sum(ages)
- 7. Calculate mean of your engagement_rate array -> np.mean(engagement_rate)

In [18]:
# Get 3rd value of users array
# Numpy starts at 0 so the third value would be #2
third_user = users[2]
print("Third User:", third_user)

Third User: Ayo

In [19]:
# Calculate the sum of your ages array
ages_sum = np.sum(ages)
print("Sum of Ages:", ages_sum)

Sum of Ages: 173

In [20]:
# Calculate the mean of your engagement_array array
engagement_mean = np.mean(engagement_rate)
print("Mean of Engagement Rate:", engagement_mean)

Mean of Engagement Rate: 0.8140000000000001

- 8. Change the first value of your users array to your first name -> users[0] = your name here
- 9. Change the last value of ages to 50

In [21]:
# Change the first value of users to your name
users[0] = "Golda"

In [22]:
# Change the last value of ages to 50
ages[-1] = 50

---
### üìå Exercise 5: Basic pandas

In [23]:
# Create a DataFrame of your numpy arrays by running this code; remove all triple quotes first

'''
df = pd.DataFrame({
    "Name": users,
    "Age": ages,
    "Engagement": engagement_rates
})

print(df)

'''

'\ndf = pd.DataFrame({\n    "Name": users,\n    "Age": ages,\n    "Engagement": engagement_rates\n})\n\nprint(df)\n\n'

### Question 2: Is what was printed above structured or unstructured data?

The printed data above is a structured data because each row contained matching values.

1Ô∏è‚É£ Compute Summary Statistics using pandas
- 1. Use pandas to calculate the mean of df['Age'] by running -> df['Age'].mean()  
- 2. Calculate the mean of engagement_rates in the dataset  
- 3. Calculate the median of engagement_rates in the dataset  
- 4. Calculate the mode of the engagement_rates in the dataset (this returns a series)  
- 5. Extract the first mode by running -> df['Engagement'].mode()[0]

In [24]:
# Get the mean (average) of Age
age_mean = df['Age'].mean()
print("Mean of Age:", age_mean)

NameError: name 'df' is not defined

In [27]:
# Get the mean of Engagement
engagement_mean = df['Engagement'].mean()
print("Mean of Engagement:", engagement_mean)

NameError: name 'df' is not defined

In [ ]:
# Get the median of Engagement
engagement_median = df['Engagement'].median()
print("Median of Engagement:", engagement_median)

In [ ]:
# Get the mode of Engagement (may return multiple values)
engagement_mode = df['Engagement'].mode()
print("Mode of Engagement (Series):", engagement_mode)

In [ ]:
# Get the mode first of Followers
first_mode = engagement_mode[0]
print("First Mode of Engagement:", first_mode)

### üìå Exercise 6: Lists and Loops
- 1. Create a list of 10 media types
- 2. Print your list
- 3. Print each media individually using a loop
          for media in your_list_name:
             print(media)

In [ ]:
# Create list of media types
misinformation_types = [
    "Fake News",
    "Deepfakes",
    "Clickbait",
    "Conspiracy Theories",
    "Hoaxes",
    "Misinterpreted as Fact",
    "Misleading Headlines",
    "Photoshopped Images",
    "Propaganda",
    "Misinformation"
    ]

In [ ]:
# Print your list of media types
print("Misinformation Types List:", misinformation_types)

In [ ]:
# Print each media type individually
print("\nIndividual Misinformation Types:")
for misinformation in misinformation_types:
    print(misinformation)

In [ ]:
# Print each of the user names in your dataframe
# by replacing your_list_name with the pandas
# column -> df['Name']
# replace "media" with term of your choice

data = {'Name': [
    "Golda", "Kaylah", "Ayo", "Grace", "Natasha"
]}

df = pd.DataFrame(data)

print("User Names:")
for name in df['Name']:
    print(name)

Once complete, please submit by saving your ipynb file to the [Assignment 4 Student Submissions Folder](https://github.com/BevRice/CMI_Course/tree/main/Student_Submissions/Assignment_4)

From Google Colab
- 1. Click File
- 2. Click Download
- 3. Select Download .ipynb
- 4. Upload to the folder by 11:59pm, Fri 28 Mar

Grading Criteria (10 Points Total)

- ‚úÖ Code Completeness (5 pts) ‚Üí Attempts all coding exercises
- ‚úÖ Code Accuracy (3 pts) -> No errors in executions
- ‚úÖ Interpretation of Results (2 pts) ‚Üí Thoughtful answers to questions 1-2

[Provide Anonymous Feedback on this Assignment Here](https://forms.gle/4ZRmNr5rmGCAR1Re6)