# üìù Assignment 4

## Introductory Exercises in Python

‚è≥ Estimated Duration: 1 Hour  
üéØ Due: Friday, 28 March at 11:59pm

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/BevRice/CMI_Course/blob/main/docs/source/notebooks/Assignment4_Week3.ipynb)

### üîπ Getting Started with Google Colab

For this lesson, we will be using **Google Colab**, a free, cloud-based Jupyter Notebook environment that allows us to write and execute Python code **without needing to install anything** on our own computers.  

üîπ **Why Google Colab?**  
‚úî **No Installation Required** ‚Äì Runs in your web browser, no need to install Python, libraries, or Jupyter Notebook.  
‚úî **Pre-Installed Libraries** ‚Äì Most of the common data analysis libraries (`NumPy`, `pandas`, `matplotlib`, `seaborn`, `statsmodels`) are already included.  
‚úî **Cloud-Based & Auto-Saving** ‚Äì Your work is stored in Google Drive, so you can access it from anywhere.  
‚úî **Free GPU Access** ‚Äì Useful for advanced machine learning, though not necessary for this course.  

üîπ **How to Open Google Colab**  
1Ô∏è‚É£ **Go to** [colab.research.google.com](https://colab.research.google.com/)  
2Ô∏è‚É£ **Sign in** with your Google account  
3Ô∏è‚É£ **Click** Open in Colab above

---

üíª **What If I Want to Run Python Locally?**  
If you‚Äôre interested in running Python on your own computer instead of using Google Colab, you can install **Anaconda**, which includes Python and Jupyter Notebook.  

üîπ **Anaconda Benefits:**  
- Comes with everything you need for data analysis.  
- Lets you work offline and manage different project environments.  
- Supports additional tools like R and Julia if you‚Äôre interested in expanding your coding skills.  

If you'd like guidance on **installing and setting up Anaconda**, I'm happy to walk through it with you during **office hours**! üòä

## Python Basics

Lets practice the basics covered in Lesson 6 before we apply what we've learned to MDM data  which we'll do in Lesson 7 and Assignment 5.

---

### üìå Exercise 1: Working with Variables
1. Create three variables: category, age, and engagement_rate
2. Assign a string, integer, and float to the variables respectively
3. Print each of the variables
4. Check and print the data types of each variable

In [8]:
category = "Education"
age = 25
engagement_rate = 0.85

In [10]:
print("Category:", category)
print("Age:", age)
print("Engagement Rate:", engagement_rate)

Category: Education
Age: 25
Engagement Rate: 0.85

In [11]:
print("Data type of 'category':", type(category))
print("Data type of 'age':", type(age))
print("Data type of 'engagement_rate':", type(engagement_rate))

Data type of 'category': <class 'str'>
Data type of 'age': <class 'int'>
Data type of 'engagement_rate': <class 'float'>

---

### üìå Exercise 2: Working with Variables
1. Change the value stored in category to a complex data type
2. Print the variable
3. Check and print the new data type of category

In [15]:
category = {"name": "Education", "importance": "High", "topics": ["Math", "Science", "History"]}

In [16]:
print("Data type of 'category':", type(category))

Data type of 'category': <class 'dict'>

---

In [17]:
# Run this cell
rickroll = """Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you"""

print(rickroll)

Never gonna give you up
Never gonna let you down
Never gonna run around and desert you
Never gonna make you cry
Never gonna say goodbye
Never gonna tell a lie and hurt you

### Question 1: Is what was printed above structured or unstructured data?

Unstructed data - The rickroll lyrics are a block of text with no specific structure, labeling, or standard format for computational analysis.

---

### üìå Exercise 3: Importing libraries
1. Import the pandas and numpy libraries
2. Check the version of each library by running the following:
    - print(pd.__version__)
    - print(np.__version__)

In [27]:
import pandas as pd
print("Pandas version:", pd.__version__)

Pandas version: 2.2.2

In [26]:
import numpy as np
print("NumPy version:", np.__version__)

NumPy version: 2.0.2

---

### üìå Exercise 4: Basic numpy
- 1. Create a numpy array with 5 integers and call it ages -> ages = np.array([33,45,18...])
- 2. Create a numpy array with 5 floats and call it engagement_rate
- 3. Create a numpy array with 5 strings and call it users
- 4. Print all 3 arrays

In [30]:
# Create ages
ages = np.array([33, 45, 18, 29, 41])

In [29]:
# Create engagement_rate
engagement_rate = np.array([0.85, 0.75, 0.90, 0.88, 0.82])

In [34]:
# Create users
users = np.array(["Alice", "Bob", "Charlie", "Diana", "Eve"])

In [32]:
# Print arrays
print("Ages array:", ages)
print("Engagement rate array:", engagement_rate)
print("Users array:", users)

Ages array: [33 45 18 29 41]
Engagement rate array: [0.85 0.75 0.9  0.88 0.82]
Users array: ['Alice' 'Bob' 'Charlie' 'Diana' 'Eve']

- 5. Get the third value of your users array -> users[2]
- 6. Calculate sum of your ages array -> np.sum(ages)
- 7. Calculate mean of your engagement_rate array -> np.mean(engagement_rate)

In [37]:
# Get 3rd value of users array
# Numpy starts at 0 so the third value would be #2
third_user = users[2]
print("Third user:", third_user)

Third user: Charlie

In [36]:
# Calculate the sum of your ages array
ages_sum = np.sum(ages)
print("Sum of ages:", ages_sum)

Sum of ages: 166

In [35]:
# Calculate the mean of your engagement_array array
engagement_rate_mean = np.mean(engagement_rate)
print("Mean engagement rate:", engagement_rate_mean)

Mean engagement rate: 0.8400000000000001

- 8. Change the first value of your users array to your first name -> users[0] = your name here
- 9. Change the last value of ages to 50

In [39]:
# Change the first value of users to your name
users[0] = "Boug"  # Replace "Boug" with your desired name

In [40]:
# Change the last value of ages to 50
ages[-1] = 50  # Using -1 to target the last value in the array

---
### üìå Exercise 5: Basic pandas

In [47]:
# Create a DataFrame of your numpy arrays by running this code; remove all triple quotes first

'''
df = pd.DataFrame({
    "Name": users,
    "Age": ages,
    "Engagement": engagement_rates
})

print(df)

'''

'\ndf = pd.DataFrame({\n    "Name": users,\n    "Age": ages,\n    "Engagement": engagement_rates\n})\n\nprint(df)\n\n'

### Question 2: Is what was printed above structured or unstructured data? Structured data - Structured data is organized and follows a defined schema, such as rows and columns in a table.

Double click and enter answer here

1Ô∏è‚É£ Compute Summary Statistics using pandas
- 1. Use pandas to calculate the mean of df['Age'] by running -> df['Age'].mean()  
- 2. Calculate the mean of engagement_rates in the dataset  
- 3. Calculate the median of engagement_rates in the dataset  
- 4. Calculate the mode of the engagement_rates in the dataset (this returns a series)  
- 5. Extract the first mode by running -> df['Engagement'].mode()[0]

In [48]:
# Get the mean of Engagement
users = np.array(["Alice", "Bob", "Charlie", "Diana", "Eve"])
ages = np.array([33, 45, 18, 29, 50])
engagement_rates = np.array([0.85, 0.75, 0.90, 0.88, 0.82])

# Create the DataFrame
df = pd.DataFrame({
    "Name": users,
    "Age": ages,
    "Engagement": engagement_rates
})

In [49]:
# Get the median of Engagement
median_engagement = df['Engagement'].median()
print("Median Engagement:", median_engagement)

Median Engagement: 0.85

In [50]:
# Get the mode of Engagement (may return multiple values)
mode_engagement = df['Engagement'].mode()
print("Mode Engagement (series):", mode_engagement)

Mode Engagement (series): 0    0.75
1    0.82
2    0.85
3    0.88
4    0.90
Name: Engagement, dtype: float64

In [51]:
# Get the mode first of Followers
first_mode_engagement = df['Engagement'].mode()[0]
print("First Mode Engagement:", first_mode_engagement)

First Mode Engagement: 0.75

### üìå Exercise 6: Lists and Loops
- 1. Create a list of 10 media types
- 2. Print your list
- 3. Print each media individually using a loop
          for media in your_list_name:
             print(media)

In [52]:
# Create list of media types
media_types = ["Newspaper", "Magazine", "TV", "Radio", "Podcast", "Social Media", "Blog", "Streaming Services", "Video Games", "Books"]

In [53]:
# Print your list of media types
print("Media Types List:", media_types)

Media Types List: ['Newspaper', 'Magazine', 'TV', 'Radio', 'Podcast', 'Social Media', 'Blog', 'Streaming Services', 'Video Games', 'Books']

In [54]:
# Print each media type individually
for media in media_types:
    print(media)

Newspaper
Magazine
TV
Radio
Podcast
Social Media
Blog
Streaming Services
Video Games
Books

In [57]:
# Print each of the user names in your dataframe
# by replacing your_list_name with the pandas
# column -> df['Name']
# replace "media" with term of your choice

# for name in df['Name']:
for name in df['Name']:
    print(name)

Alice
Bob
Charlie
Diana
Eve

Once complete, please submit by saving your ipynb file to the [Assignment 4 Student Submissions Folder](https://github.com/BevRice/CMI_Course/tree/main/Student_Submissions/Assignment_4)

From Google Colab
- 1. Click File
- 2. Click Download
- 3. Select Download .ipynb
- 4. Upload to the folder by 11:59pm, Fri 28 Mar

Grading Criteria (10 Points Total)

- ‚úÖ Code Completeness (5 pts) ‚Üí Attempts all coding exercises
- ‚úÖ Code Accuracy (3 pts) -> No errors in executions
- ‚úÖ Interpretation of Results (2 pts) ‚Üí Thoughtful answers to questions 1-2

[Provide Anonymous Feedback on this Assignment Here](https://forms.gle/4ZRmNr5rmGCAR1Re6)